---
layout: default
---
<style>
  @font-face {
      font-family: "Myriad Pro";
      src: url("asset://garrysmod/resource/fonts/myriad pro regular.ttf") format('truetype'),
      url("fonts/myriad pro regular.ttf") format('truetype'),
      url("../../tacrp_pages/fonts/myriad pro regular.ttf") format('truetype');
  }
</style>

<article>

  <header style="font-family:'Myriad Pro';">
    <h1>{{ page.title | escape }}</h1>
    <p class="text-muted">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • {{ page.author }}
      {%- endif -%}
    </p>
  </header>

  <section style="font-family:'Myriad Pro';">
    {{ content }}
  </section>

</article>
